
{{#if top_level}}

=============
API Reference
=============

.. automodule:: pythreejs
    :members:
    :undoc-members:

{{else}}

========================================================
{{ moduleName }}
========================================================

{{/if}}

.. toctree::
    :maxdepth: 10

    {{#each submodules as |module|}}
    {{ module }}
    {{/each}}
